
html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75;
}


.fc .fc-col-header,
.fc .fc-timegrid-axis-frame,
.fc .fc-timegrid-slot-label,
.fc .fc-scrollgrid-shrink{
    background-color: #645FCE;
    color: white;
}

.fc .fc-timegrid-axis{
    background-color: #F5F5F5;
}

.fc .fc-button-primary {
    background-color: #645FCE;
    font-size: 20px;
}

.fc .fc-toolbar-title{
    font-family: 'Inter';
    font-size: 250%;
}


.p-panel{
    border-radius: 200px;
}

.p-panel-header{
    background-color: white;
    border-bottom: none;
}

.p-panel-title{
    margin: auto;
}

.p-panel-content{
    text-align: center;
}

.card{
    background-color: #ECF0F2;
    margin: 0px;
}

.p-card-content{
    padding: none;
    margin: none;
}

.top_rounding{
    height: 10%;
    background-color: #ECF0F2;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.background_admin{
background-color: #ECF0F2;
}
.nav_card_image{
height: 20%; width: 100%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav_card_title{
text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
color: #645FCE;
}
.add_room{
background-color: #645FCE;
border-color: white;
}
.delete_room{
background-color: #CFC25F;
border-color: white;
}
.add_event{
    background-color: #645FCE;
    border-color: white;
}
.delete_event{
    background-color: #CFC25F;
    border-color: white;
}
.help_button{
left: 50%;
background-color: white;
border-color: lightgray;
color: black;
}
.bottom_admin{
background-color: #ECF0F2;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
height: 5%;
}


@mixin use-md-icon($icon) {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:before {
        content: $icon;
    }
}
